.big {
  font-size: xx-large;
}

.custom-text-info {
  color: #0263bf !important;
}

.btn-gray {
  background-color: lightgray !important;
}

.z-index-1 {
  z-index: 1 !important;
}

.corner-1 {
  border-radius: 10px;
}

.custom-bg-info {
  background-color: #0263bf !important;
}

.dots {
  padding: 10px 0;
}

.dots .swiper-slide {
  height: 100%;
  opacity: 0.3;
}

.border-bottom {
  height: 10px;
  background: #0263bf;
}